<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap.php"
         colors="true"
         backupGlobals="false">

    <testsuites>
        <testsuite name="Stormpath SDK Test Suite">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Mfa/Physical</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>