<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap.php"
         colors="true"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         backupGlobals="false"
         backupStaticAttributes="false">

    <testsuites>
        <testsuite name="Stormpath SDK Test Suite">
            <directory suffix="Test.php">./tests/Stormpath/Tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="./tests/code-coverage"  charset="UTF-8" yui="true" lowUpperBound="50" highLowerBound="90"/>
        <log type="coverage-clover" target="./tests/code-coverage/clover.xml"/>
        <log type="coverage-crap4j" target="./tests/code-coverage/crap4j.xml"/>
        <log type="coverage-php" target="./tests/code-coverage/coverage.php"/>
        <log type="coverage-text" target="./tests/code-coverage/coverage.txt"/>
        <log type="junit" target="./tests/code-coverage/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Stormpath</directory>
        </whitelist>
    </filter>
</phpunit>